.nx
Dockerfile
.pnpm-store
.git
.dockerignore
README.md
*.log
dist
node_modules
logs
public
cypress
coverage
node_modules
dist
generated
logs
docker/local/api-postgres
docker/prod/api-postgres
